# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env
.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Local logs and temp files
*.log
.DS_Store